<p>'GET /': //логин</p>
<p>'GET /info': //информация</p>
<p>'GET /signup': //регистрация</p>
<p>'GET /dashboard': //карта</p>
<p>'GET /getuser?ID=1': //информация о пользователе 1</p>
<p>'GET /getuser_me': //информация о текущем пользователе</p>
<p>'GET /logout': //выход из аккаунта</p>

<p>'POST /point': // добавление публичной точки пример assets\app\app.component.ts -> addPublic</p>


<p>'POST /private_point': // добавление приватной точки пример assets\app\app.component.ts -> addPrivate</p>


<p>'GET /get_point': //все публичные точки</p>
<p>'GET /get_my_point': //приватный точки текущего пользователя</p>
<p>'GET /get_My_Public_point': //публичные точки текущего пользователя</p>

<p>'POST /deletePoint' ://удаление точки</p>

<p>'POST /signup': регистрация</p>
<p>'POST /update': //обновление информации</p>
<p>'POST /login': //вход</p>
<p>/point  все точки</p>
<p>/user  все пользователи</p>

