

<!--<header class="flex hero">-->
    <!--<div class="flex-left">-->
        <!--<div class="btn-round ripple menu" (click)="leftmtnu()"></div>-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="flex center d-o"> &ndash;&gt;-->
    <!--&lt;!&ndash; <input placeholder="Search Stories"/> &ndash;&gt;-->
    <!--&lt;!&ndash; </div> &ndash;&gt;-->
    <!--<div class="flex-right">-->
        <!--<div title="Google Apps" class="btn-round ripple apps d-o" ></div>-->
        <!--<div title="Google Notifications" class="btn-round ripple notifications d-o"></div>-->
        <!--<img  (click)="menuUser()" src="http://i1-news.softpedia-static.com/images/news2/the-new-google-logo-is-a-lesson-in-modern-design-490648-3.jpg" class="btn-round profile d-o profile-tikla"/>-->
        <!--<div class="search-btn btn-round ripple m-o"></div>-->
    <!--</div>-->

<!--</header>-->
<nav id="LM">
    <ul>
        <li class="flex">HOME | NEW</li>
        <li class="flex">Top Charts</li>
        <li class="flex">Top Categories</li>
        <li class="flex">My Library</li>
    </ul>
    <ul>
        <li class="flex">Listen Now</li>
        <li class="flex">Top Charts</li>
        <li class="flex">New Releases</li>
        <li class="flex">My Library</li>
    </ul>
    <ul>
        <li class="flex">Listen Now</li>
        <li class="flex">Top Charts</li>
        <li class="flex">New Releases</li>
        <li class="flex">My Library</li>
    </ul>
    <ul>
        <li class="flex">Listen Now</li>
        <li class="flex">Top Charts</li>
        <li class="flex">New Releases</li>
        <li class="flex">My Library</li>
    </ul>
    <ul>
        <li class="flex">Listen Now</li>
        <li class="flex">Top Charts</li>
        <li class="flex">New Releases</li>
        <li class="flex">My Library</li>
    </ul>
    <ul>
        <li class="flex">Listen Now</li>
        <li class="flex">Top Charts</li>
        <li class="flex">New Releases</li>
        <li class="flex">My Library</li>
    </ul>
    <ul>
        <li class="flex">Listen Now</li>
        <li class="flex">Top Charts</li>
        <li class="flex">New Releases</li>
        <li class="flex">My Library</li>
    </ul>
    <ul>
        <li class="flex">Listen Now</li>
        <li class="flex">Top Charts</li>
        <li class="flex">New Releases</li>
        <li class="flex">My Library</li>
    </ul>
    <ul>
        <li class="flex">Listen Now</li>
        <li class="flex">Top Charts</li>
        <li class="flex">New Releases</li>
        <li class="flex">My Library</li>
    </ul>
</nav>
<div class="menu-overlay"></div>

<div class="account" id="account">
    <ul>
        <li class="ripple">Sign Out</li>
        <li class="ripple">Switch account</li>
        <li class="ripple">Send feedback</li>
        <li class="ripple">Help</li>
    </ul>
</div>
<router-outlet></router-outlet>
<div class="bottom-menu">
    <ul id="menu">
        <li><p routerLinkActive="active" [routerLink]="['/profile']">profile</p></li>
        <li><p routerLinkActive="active" [routerLink]="['/dashboard']" >dashboard</p></li>
        <li><p href="#chat">chat</p></li>
        <li><p href="#feed">feed</p></li>
        <li><p href="#friend">friend</p></li>
    </ul>
</div>