<!--<p>Name: {{name}}</p>-->
<!--<p>Email:{{email}}</p>-->
<!--<input (keyup.enter)="update('name',Name.value)" type="search" #Name [(ngModel)]="name">-->
<!--<input (keyup.enter)="update('email',Email.value)" type="search" #Email [(ngModel)]="email">-->


<app-dialog [(visible)]="showDialog">

    <div class="addModal">
        <p>Please click on the map to add a point.</p>
        <button class="butu" (click)="add(); showDialog=!showDialog">OK</button>
    </div>

</app-dialog>

<app-dialog [(visible)]="addpont">

    <div class="wrapper">

        <div class="butt">

            <span class="focus-border">Text</span>
            <input type="text" placeholder="Text" #name>
            <span class="focus-border">description</span>
            <textarea type="text" placeholder="Text" #description></textarea>
            <button class="butu"
                    (click)="addPublic(My_X,My_Y,name.value,description.value);add_point=!add_point;addpont=!addpont;name.value='';description.value=''">
                Public
            </button>
            <button class="butu"
                    (click)="addPrivate(My_X,My_Y,name.value,description.value);add_point=!add_point;addpont=!addpont;name.value='';description.value=''">
                Private
            </button>
            <button class="butu" (click)="add_point=!add_point;addpont=!addpont ">cancel</button>
        </div>
    </div>

</app-dialog>

<app-dialog [(visible)]="showComments">
    <div>
        <span class="place"><h1><strong>{{commentsName}}</strong></h1></span>
        <ul class="list-group" *ngFor="let m of markerComments; let i = index">
            <div class="description" *ngIf="m.type == 'description'; else elseBlock">
                <li class="description-auth">
                    <!--<img class="description-avat" src={{gravatarUrl}}>-->
                    {{m.name}}
                </li>
                <li class="description-text" *ngIf="m.comments">{{m.comments}}</li>
            </div>
            <ng-template class="comment" #elseBlock>
                <li class="comment-auth">
                    <!--<img class="description-avat" src={{gravatarUrl}}>-->
                    {{m.name}}
                </li>
                <li class="comment-text">{{m.comments}}</li>
            </ng-template>

        </ul>
    </div>
    <textarea type="text" placeholder="Text" #comments></textarea>

    <button class="butu" (click)="addComments(commentsId,comments.value,'point');comments.value=''">Add</button>
</app-dialog>
<header class="flex hero">
    <div class="flex-left">
        <div class="btn-round ripple menu" (click)="leftmtnu()"></div>
    </div>
     <div class="flex center d-o">
     <input placeholder="Search Stories"/>
     </div>
    <div class="flex-right">
        <!--<div title="Google Apps" class="btn-round ripple apps d-o"></div>-->
        <!--<div title="Google Notifications" class="btn-round ripple notifications d-o"></div>-->
        <img (click)="menuUser()"
             src="http://i1-news.softpedia-static.com/images/news2/the-new-google-logo-is-a-lesson-in-modern-design-490648-3.jpg"
             class="btn-round profile d-o profile-tikla"/>
        <div class="search-btn btn-round ripple m-o"></div>
    </div>

</header>
<nav id="LM">
    <ul *ngFor="let m of test_marker; let i = index">
        <li (click)="info(i,m.x,m.y)">{{m.name}}</li>
    </ul>
    <ul>
        <li (click)="close_all()">Close all</li>
    </ul>

</nav>
<div class="menu-overlay"></div>

<div class="account" id="account">
    <ul>
        <li class="ripple">Sign Out</li>
        <li class="ripple">Switch account</li>
        <li class="ripple">Send feedback</li>
        <li class="ripple">Help</li>
    </ul>
</div>
<sebm-google-map
        (mapClick)="mapClicked($event)"
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom">


    <sebm-google-map-marker
            *ngFor="let m of test_marker; let i = index"
            [latitude]="m.x"
            [longitude]="m.y"
            [iconUrl]="m.owner == id ? m.lable=='Pr'?'/images/private.png':'/images/my_public.png':'/images/public.png'">

        <sebm-google-map-info-window [isOpen]="open[i]">
            <h4><strong>{{m.name}}</strong>({{m.ownerName}})</h4>
            <button class="butu" *ngIf="m.owner == id" (click)="dell(m.id)">dell</button>
            <button class="butu" (click)="showCommentsF(m.id,m.name+' ('+m.ownerName+')');showComments=!showComments">Add comments</button>

        </sebm-google-map-info-window>

    </sebm-google-map-marker>
    <sebm-google-map-marker
            [latitude]="now_X"
            [longitude]="now_Y"
            [iconUrl]="'/images/now.png'" *ngIf="mygeo">
    </sebm-google-map-marker>


</sebm-google-map>


<div class="point">
    <button class="circle-button private" (click)="showMyPrivat()"><img src="/images/private.png"></button>
    <button class="circle-button my_public" (click)="showMyPublic()"><img src="/images/my_public.png"></button>
    <button class="circle-button public" (click)="showPublic()"><img src="/images/public.png"></button>
    <button class="circle-button add_point" (click)="showDialog=!showDialog"><img style="width: 28px;"
                                                                                  src="/images/plus.png"></button>
    <button class="circle-button geo" (click)="geo();mygeo=true"><img src="/images/now.png"></button>

</div>
<style>
    .sebm-google-map-container {
        height: 100%;

    }

</style>